.btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: rgb(233, 189, 21);
  color: rgb(37, 37, 37);
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(78, 67, 21, 0.678);
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
  .btn {
    margin: 10px auto 0;
    padding: 5px 10px;
    font-size: 1rem;
  }
}
